@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'unslider';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;



/*==============================================================================
  	Table of Contents

	1. Global Styles
    2. Screenshot Windows
    3. Button Styles
  	4. Header/Nav
    5. Hero Styles
    6. Slider Styles
    7. Content Styles
    8. Homepage Specific
    9. Secondary Pages
    10. About Page
    11. Services Pages
    12. Our Work Page Styles
    13. Reviews Page Styles
    14. Contact Page Styles
    15. Call To Action Styles
    16. Blog
    17. Footer Styles
	18. Media Queries
==============================================================================*/

/*******************************************************************************
* 1. Global Styles
*******************************************************************************/
$dkBlue: #148b9d;
$dkLightBlue: #1db4c9;
$dkOrange: #ff6c00;

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

p {
    line-height: 1.8;
}

ul {
    list-style: none;
    // margin-left: 0;
}

.dk_double_rule {
    margin: 1em 0;
    hr {
        margin: 0;
        margin-bottom: 4px;
    }
}

.dk_secondary_color {
    color: $dkOrange;
}

.dk_uppers {
    text-transform: uppercase;
}

.dk_bottom_blue {
    border-bottom: 1px solid $dkLightBlue;
}

.dk_bot_mar_0 {
    margin-bottom: 0;
}
/*******************************************************************************
* 2. Screenshot Windows
*******************************************************************************/
.dk_screenshotwindow {
    background: white;
    border-radius: 6px 6px 0 0;
    //box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-top: 26px;
    position: relative;
    width: 100%;
    max-width: 620px;
    border: 1px solid rgba(0,0,0,0.1);
    //display: flex;
    pointer-events: none;

    &:before {
        background: linear-gradient(#f0f0f0, #dedede);
        border-radius: 6px 6px 0 0;
        box-shadow: inset 0 2px 2px -2px white, 0 2px rgba(0, 0, 0, 0.1);
        content: ' ';
        display: block;
        height: 25px;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.dk_circles {
    position: absolute;
    top: 0;
    left: 10px;

    .circle-1, .circle-2, .circle-3 {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid rgba(155, 155, 155, 0.5);
    }
    .circle-1 {
        background-color: #fc615d;
    }
    .circle-2 {
        background-color: #fdbc40;
    }
    .circle-3 {
        background-color: #34c84a;
    }
}

/*******************************************************************************
* 3. Button Styles
*******************************************************************************/
.dk_button, input[type="submit"], .dk_sidebar .button {
    display: inline-block;
    color: #fff;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;

    &.dk_primary {
        background: linear-gradient(#ff8a00, #ff6c00);
        &:hover {
            background: linear-gradient(#ff6c00, darken(#ff6c00, 10%));// #fff;
            color: #fff;
        }
    }
    &.dk_secondary_btn {
        background-color: $dkLightBlue;

        &:hover {
            color: #fff;
            background-color: darken($dkLightBlue, 10%);
        }
    }
    + .dk_button {
        margin-left: 0.5rem;
    }
}

input[type="submit"] {
    border: none;
}

.dk_select_btn {
    background-color: #000;
    color: #fff;
    padding: 0.75em;
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 1em;
    &:hover {
        background-color: darken($dkOrange, 10%);
    }
    &.selected {
        background-color: $dkOrange;
        &:hover {
            background-color: darken($dkOrange, 10%);
        }
    }
}

/*******************************************************************************
* 4. Header/Nav
*******************************************************************************/
.dk_header {
    background: url('../img/wood-texture.jpg');
    padding: 1.85em 0;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
    opacity: .99;

    .row {
        position: relative;
    }

    img {
        width: 210px;

        &.dk_horizlogo {
            width: 300px;
        }
    }

    .dk_header_right {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        color: #fff;
    }

    h2 {
        font-size: 1.75em;//2em;
        margin-bottom: 0;
    }

    h4 {
        font-size: 1.25em;//1.375em;
        margin-bottom: 0;
    }

    h5 {
        font-size: 1rem;
    }

    a {
        font-size: 1.75em;//2em;
        font-weight: bold;
        color: #fff;
        &.large {
            font-size: 2.25rem;
        }
    }
}

.dk_mobile_topbar, .dk_desktop_topbar {
    background: #000;

    .row {
        position: relative;
    }

    .dk_nav_callout_btn {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0 1rem;
        margin-right: 0.9375rem;
    }

    .dropdown.menu a {
        padding: 1rem;
    }

    .dk_responsive_toggle {
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: uppercase;
        color: #fff;
        padding: 1rem 0;
        margin-left: 0.9375rem;
        //text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);

        i {
            font-size: 1.5rem;
            font-weight: normal;
            margin-right: 5px;
        }

        &:hover {
            cursor: pointer;
            color: lighten($dkBlue, 10%);
        }
    }
}

.dk_desktop_topbar {
    .dk_hide_desktop {
        display: none;
    }
    .dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a:hover::after,
    .dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a:focus::after {
        border-color: $dkOrange transparent transparent;
    }
    .dropdown.menu .is-active>a:hover {
        color: $dkOrange;
    }
}
.dk_offcanvas {
    background-color: #333;

    .drilldown {
        margin-top: 3rem;
        a {
            background: transparent;
        }
    }
    .close-button {
        z-index: 1;
        color: #fff;
        &:hover {
            color: $dkOrange;
        }
    }
    li a {
        border-left: 3px solid transparent;
        color: #fff;

        &:hover {
            border-left: 3px solid $dkOrange;
            background-color: rgba(0,0,0,0.5);
        }
    }
    .drilldown .is-drilldown-submenu {
        background-color: #333;
    }

    .drilldown .is-drilldown-submenu-parent>a::after {
        border-color: transparent transparent transparent #fff;
    }
    .drilldown .js-drilldown-back>a::before {
        border-color: transparent #fff transparent transparent;
    }
    .drilldown .js-drilldown-back>a:hover::before {
        border-color: transparent $dkOrange transparent transparent;
    }
    .drilldown .is-drilldown-submenu-parent>a:hover::after {
        border-color: transparent transparent transparent $dkOrange;
    }
}

.dk_mobile_topbar {
    display: none;
}

.dk_nav {
    a {
        color: #fff;
        font-weight: normal;
        font-family: $header-font-family;
        font-size: 1.125em;
        text-transform: uppercase;
        //text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    a:hover, a:focus {
        color: $dkOrange;
        //text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.5);
    }
    a.dk_selected {
        color: $dkBlue;
        &:hover, &:focus {
            color: $dkOrange;
        }
    }
    a.dk_nav_callout_btn {
        text-shadow: none;
        background: $dkOrange;

        &:hover {
            background-color: darken($dkOrange, 10%);
            color: #fff;
        }
    }

    ul.submenu {
        margin-top: 0;

        a {
            text-transform: none;
            font-size: 1rem;

            &:hover, &:focus {
                color: $dkOrange;
            }
        }
    }

    .dk_mobilenav {
        ul.submenu {
            height: 100%;
            background-color: #000;
        }
    }

    .dk_responsive_topbar_container {
        position: relative;
    }

}

.dk_mobilenav {
    display: none;
}

.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a:hover::after {
    border-color: $dkOrange transparent transparent;
}

/*******************************************************************************
* 5. Hero Styles
*******************************************************************************/
.dk_hero {
    border-bottom: 8px solid #095c67;
    position: relative;
    .dk_hero_container {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
    }
    .dk_caption {
        width: 45%;
        max-width: 1400px;
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3, h2 {
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        }
        h3 {
            font-size: 2em;
            margin-bottom: 0;
        }
        h2 {
            font-size: 2.75rem;
            margin-bottom: 1rem;
        }
        a.dk_button {
            display: inline-block;
            align-self: flex-start;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.825rem 3.5rem;
        }
    }
    &.dk_homehero {
        background-image: url('../img/business-web-design.jpg');
        height: 550px;
        background-size: cover;
        background-position: center;
        .dk_caption {
            display: inline-block;
            padding-left: 0.9375rem;
            h2 {
                font-size: 2.325rem;
            }

            h3 {
                font-size: 1.75rem;
            }
        }
        .dk_shape {
            shape-outside: polygon(nonzero, 100% 0, 430px 0, 580px 100%, 100% 100%);
            float: right;
            width: 100%;
            height: 100%;
        }
    }
}

.dk_secondary .dk_hero {
    padding: 3rem 0;
    background: linear-gradient(#1db2c7, #148b9d);

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 0;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    }
}

/*******************************************************************************
* 6. Slider Styles
*******************************************************************************/
section.dk_slider {
    text-align: center;
}

/*******************************************************************************
* 7. Content Styles
*******************************************************************************/
.dk_callout_box {
    border: 1px solid #52c6d6;
    opacity: .99;
    padding: 0;

    h4 {
        text-align: center;
        background-color: #fff;
        margin-top: -0.75em;
        margin-left: 4em;
        margin-right: 4em;
        font-weight: bold;
        font-size: 1.25em;
    }

    .dk_customer_quote {
        padding: 1em 2em;

        img {
            float: left;
            margin-right: .75em;
        }
        h6 {
            font-weight: bold;
            font-size: 1em;
            span {
                color: $dkOrange;
            }
        }
    }

    a {
        color: #fff;
        background-color: $dkBlue;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0.5em;
        font-weight: bold;
        font-size: 1.25em;
    }
}

.dk_nonprofit {
    background-image: url('../img/bgtexture-cement.jpg');
    padding: 2.5rem 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);

    .dk_recipient {
        display: block;
        margin: 0 auto;
    }
}

.dk_home .dk_main_content {
    padding: 4.5rem 0 7.5rem 0;
}

.dk_secondary {
    .dk_main_content {
        padding: 3rem 0;
    }
}
.dk_main_content {
    h1 {
        margin-bottom: 0;
    }
    h2 {
        margin-bottom: 1.325rem;
    }
    aside, .dk_callout_box {
        border: 1px solid #52c6d6;
        opacity: .99;
        padding: 0;

        h4 {
            text-align: center;
            background-color: #fff;
            margin-top: -0.75em;
            margin-left: 4em;
            margin-right: 4em;
            font-weight: bold;
            font-size: 1.25em;
        }

        .dk_customer_quote {
            padding: 1em 2em;

            img {
                float: left;
                margin-right: .75em;
            }
            h6 {
                font-weight: bold;
                font-size: 1em;
                span {
                    color: $dkOrange;
                }
            }
        }

        a {
            color: #fff;
            background-color: $dkBlue;
            display: block;
            width: 100%;
            text-align: center;
            padding: 0.5em;
            font-weight: bold;
            font-size: 1.25em;
        }
    }

    .dk_main_callout {
        margin-bottom: 1.5em;

        img {
            float: left;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
        }
        h4 {
            padding-top: 6px;
            font-weight: 600;
        }
        p {
            clear: both;
        }
    }

    .dk_homepage_showcase {
        position: relative;
        h4 {
            margin-top: -1.8em;
            text-align: center;
            background-color: #fff;
            width: 680px;
            margin-left: auto;
            margin-right: auto;
        }

        .dk_recent_works {
            padding: 1.5em 0;

            img {
                border: 1px solid #dedede;
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}

/*******************************************************************************
* 8. Homepage Specific
*******************************************************************************/
.dk_testimonial_section {
    background-image: url('../img/testimonial-bg.jpg');
    position: relative;
    text-align: center;
    padding: 4.5rem 0;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }

    .dk_testimonial_full {
        position: relative;
        z-index: 5;
    }
    p {
        width: 100%;
        max-width: 800px;
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
        color: #fff;

        span {
            display: block;
        }
    }

    .dk_testimonial_body {
        margin-bottom: 1.5rem;
    }

    .dk_testimonial_name {
        text-transform: uppercase;
        span {
            font-size: 1.325rem;
            text-transform: none;
            a {
                color: #fff;

                &:hover {
                    color: $dkBlue;
                }
            }
        }
    }
}

.dk_homemain {
    position: relative;

    h3 {
        margin-bottom: 1.25rem;
    }
    .dk_screenshot_sliderdiv {
        // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 0;
        left: 0.9375rem;
        width: 45%;
        max-width: 600px;
    }
    .dk_homemain_right {
        width: 50%;
        display: block;
        margin: 0 0 0 auto;
    }
}

/*******************************************************************************
* 9. Secondary Pages
*******************************************************************************/
.dk_secondary {
    .dk_bottom_blue {
        padding-bottom: 3rem;
    }
    h1 + h2 {
        margin-bottom: 1.5rem;
    }
}

.dk_secondary_sidebar {
    img {
        margin-top: 2.5em;
    }
    h2 {
        margin-top: 1em;
    }
}

.dk_circle_img {
    text-align: center;
    img {
        width: 140px;
        border-radius: 70px;
        border: 1px solid #eee;
        margin-bottom: 1.25em;
    }
}

.dk_section {
    margin: 2em auto;
}

.dk_callout_boxes {
    margin: 3.5em auto;
}

.dk_list {
    list-style: none;
    margin-bottom: 1.625rem;
    li {
        margin: 0.5rem 0;
    }
    img {
        margin-right: 0.4em;
    }
    .dk_sub_list {
        list-style: none;
        margin-left: 4em;
    }
}

.dk_eggshell {
    //background-image: url('../img/bgtexture-eggshell.jpg');
    background-color: #fbfbfb;
    box-shadow: 0px -1px 2px rgba(50, 50, 50, 0.2);
    padding: 2rem 0;

    h2 {
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .dk_button {
        margin-top: 1rem;
    }
}

/*******************************************************************************
* 10. About Page
*******************************************************************************/
.dk_employee_module {
    .add-padding {
        padding: 3rem 0;
    }
}

#teamMainImg {
    img {
        border-bottom: 8px solid $dkLightBlue;
    }
}

.dk_team_main {
    h3 {
        span {
            display: block;
            font-size: 0.925rem;
            color: $dkOrange;
        }
    }
    h6 {
        margin-top: 1.5rem;
        font-weight: bold;
    }
    .dk_teamsocial {
        margin-bottom: 1.5rem;

        a {
            background-color: $dkLightBlue;
            border-radius: 3px;
            padding: 2px 4px;
            margin-right: 0.5rem;
            i {
                color: #fff;
                font-size: 0.825rem;
            }

            &:hover {
                background-color: darken($dkLightBlue, 15%);
            }
        }
    }
    ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
    }
    li {
        line-height: 2.325;
    }
}

.dk_team_member {
    text-align: center;
    img {
        border-bottom: 8px solid $dkLightBlue;
    }
    h3 {
        margin-top: 0.5em;
        font-size: 1em;

        span {
            display: block;
            font-size: 0.925rem;
            color: $dkOrange;
        }
    }

    &.dk_hide_employee_thumbnail {
        //display: none;
    }
}

/*******************************************************************************
* 11. Services Pages
*******************************************************************************/
.dk_servicelists {
    h2 {
        font-weight: 600;
        font-size: 1.5rem;
    }
    li {
        margin-bottom: 1rem;
    }
}

.dk_services {
    .dk_service {
        border-bottom: 1px solid #1db4c9;
        margin-bottom: 1.5rem;

        &.last {
            border-bottom: none;
            margin-bottom: 0;
        }

        .dk_left, .dk_right {
            display: inline-block;
        }
        .dk_left {
            width: 33%;
            padding-right: 1rem;
            vertical-align: top;
        }
        .dk_right {
            width: 67%;
        }
    }
}

.dk_givingback {
    h2.dk_sm_mar {
        margin-bottom: 0.625rem;
    }
    li {
        margin-bottom: 0.325rem;
    }
}

/*******************************************************************************
* 12. Our Work Page Styles
*******************************************************************************/
.dk_category_select {
    text-align: right;
    margin-top: -30px;
}

.dk_webdesign_showcase {
    padding: 2em 0;
    h4 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: -1.85em;
        background-color: #fff;
        width: 200px;
    }

    .dk_custom_websites {
        margin-top: 1.5em;
        margin-bottom: 2em;
    }
}

#logo-design, #before-after {
    display: none;
}

.dk_website {
    position: relative;
    text-align: center;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 2em;
    img {
        width: 100%;
        vertical-align: top;
    }
    &:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.8);
        opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    &:not(:hover) {
        h3, h5, a {
            display: none;
        }
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    .dk_work_caption {
        position: absolute;
        top: 2.5rem;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        z-index: 100;
    }
    h3 {
        color: #fff;
        font-size: 1.125em;
        font-weight: bold;
    }
    h5 {
        color: $dkLightBlue;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0.9375rem;
    }
    a {
        display: inline-block;
        color: #fff;
        background-color: $dkOrange;
        padding: 0.5em;
        width: 60%;
        margin: 0 auto;
        font-size: 0.8em;
        font-weight: 600;
        &:hover {
            //padding: 0.65em;
            background: lighten($dkOrange, 10%);
        }
    }
}

.dk_website_small {
    margin-bottom: 2.5em;
    text-align: center;

    img {

        border: 1px solid #eee;
        padding: 5px;
        border-radius: 4px;
    }

    h3 {
        font-size: 1em;
        font-weight: 500;
    }
}

.reveal.dk_project_modal {
    padding: 0;
    width: 1160px;
    border: none;
    display: flex;
    .dk_modal_top, .dk_modal_bottom {
        // display: inline-block;
    }
    .dk_modal_top {
        width: 60%;
        background-color: #696562;
        text-align: center;
        padding: 2rem 0.9375rem;
    }
    .dk_modal_bottom {
        width: 40%;
        padding: 0 0.9375rem;
        vertical-align: top;
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 1em 0 0 0;
        }
        h4 {
            font-size: 1.125rem;
            a {
                margin-bottom: 1rem;
                display: block;
            }
        }
        .dk_callout_box {
            border-bottom: 15px solid $dkBlue;
        }
        .dk_tech {
            img {
                width: 70%;
            }
            .column {
                text-align: center;
            }
            span {
                font-size: 0.85em;
                display: block;
            }
        }
    }
    .close-button {
        right: 0.25rem;
        padding: 0.125rem 0.25rem;
        top: 0.25rem;
        font-size: 24px;
        background-color: $dkBlue;

        &:hover {
            background-color: darken($dkBlue, 10%);
        }
        span {
            color: #fff;
        }
    }
}

.reveal.dk_project_modal .dk_modal_bottom .dk_callout_boxes {
    text-align: left;
}

.dk_website_small.dk_hide_medium_up {
    display: none;
}

/*******************************************************************************
* 13. Reviews Page Styles
*******************************************************************************/
.dk_review {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $dkLightBlue;

    &:last-child {
        border-bottom: none;
    }
}

.dk_review_excerpt {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.4;
}

.dk_review_body {
    i {
        color: rgba(255,108,0, 0.5);
        font-size: 1.925rem;
        vertical-align: top;
        display: inline-block;
        width: 5%;
    }
    div {
        width: 95%;
        display: inline-block;
    }
}

.dk_review_site {
    display: block;
    margin-bottom: 0.75rem;
}

.dk_reviewer {
    text-transform: uppercase;
    color: $dkBlue;

    span {
        color: $dkOrange;
    }
}

.dk_review_icons {
    margin-bottom: 1rem;
    a {
        height: 45px;
        width: 45px;
        margin-right: 0.5rem;
        display: inline-block;
        text-align: center;
        padding-top: 12px;
        i {
            font-size: 1.25em;
        }

        &.dk_facebook {
            color: #fff;
            background-color: #3b5998;
            border: 1px solid #3b5888;
            &:hover {
                color: #3b5998;
                border: 1px solid #3b5888;
                background-color: #fff;
            }
        }

        &.dk_yelp {
            color: #fff;
            background-color: #c41200;
            border: 1px solid #c41200;
            &:hover {
                color: #c41200;
                border: 1px solid #c41200;
                background-color: #fff;
            }
        }
        &.dk_google {
            color: #fff;
            background-color: #dd4b39;
            border: 1px solid #dd4b39;
            &:hover {
                color: #dd4b39;
                border: 1px solid #dd4b39;
                background-color: #fff;
            }
        }

    }
}

.dk_company_logos {
    background-color: #efefef;
    padding: 2rem 0;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .dk_logo {
        display: flex;
        margin: 0 auto;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        width: 180px;
        height: 180px;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

/*******************************************************************************
* 14. Contact Page Styles
*******************************************************************************/
.dk_contact {
    label {
        margin-bottom: 0.5em;
    }

    h2.dk_bot_mar_0 {
        margin-bottom: 0;
        &+ p {
            font-size: 0.925rem;
        }
    }
}
.dk_select_box {
    label, select {
        display: inline-block;
    }
    label {
        margin-right: 1em;
    }
    select {
        width: 300px;
    }
}

.dk_contact_sidebar {
    margin-bottom: 2em;

    h2 {
        font-weight: bold;
        margin-bottom: 0.875rem;
    }
}

.g-recaptcha {
    margin: 2em 0;
}

.google-maps {
    position: relative;
    padding-bottom: 60%; /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
    margin: 4.85em 0 1.5em 0;
}


.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}



/* Add responsiveness to Google reCaptcha & Google Maps */
@media screen and (max-width: 799px) {
    .google-maps {
        padding-bottom: 85%; /* This is the aspect ratio */
    }
}
@media screen and (max-height: 575px){
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}
@media screen and (max-width: 400px) {
    .google-maps {
        padding-bottom: 100%; /* This is the aspect ratio */
    }
}

/*******************************************************************************
* 15. Call To Action Styles
*******************************************************************************/
.dk_call_to_action {
    margin-bottom: 1em;

    h4 {
        font-weight: bold;
    }
}

.dk_call_to_action_btn {
    text-align: center;
    padding-top: 2.15em;
}

/*******************************************************************************
* 16. Blog
*******************************************************************************/
.dk_main_content.dk_blog {
    article.post {
        margin-bottom: 2.5rem;
    }
    h2 {
        font-size: 1.75rem;
        margin-bottom: 0;
    }
    .byline {
        font-size: 0.875rem;
    }
}
.dk_sidebar {
    ul {
        margin-bottom: 1.5rem;
    }
    .button {
        background-color: #ff6c00;

        &:hover {
            background-color: #cc5600;
        }
    }
}

/*******************************************************************************
* 17. Footer Styles
*******************************************************************************/
.dk_footer_top {
    width: 100%;
    background-color: $dkBlue;
    padding: 1.5rem 0;
    h2 {
        font-size: 1.75rem;
        color: #fff;
    }
    .columns {
        position: relative;
    }
    .dk_social {
        position: absolute;
        right: 0.9375rem;
        top: 0;
        a {
            background-color: #fff;
            height: 45px;
            width: 45px;
            display: inline-block;
            text-align: center;
            padding-top: 12px;
            margin-right: 0.5rem;
            i {
                font-size: 1.25em;
            }
            &:last-child {
                margin-right: 0;
            }
            &.dk_facebook {
                color: #3b5998;
                &:hover {
                    color: #fff;
                    background-color: #3b5998;
                }
            }
            &.dk_twitter {
                color: #55acee;
                &:hover {
                    color: #fff;
                    background-color: #55acee;
                }
            }
            &.dk_yelp {
                color: #c41200;
                &:hover {
                    color: #fff;
                    background-color: #c41200;
                }
            }
            &.dk_google {
                color: #dd4b39;
                &:hover {
                    color: #fff;
                    background-color: #dd4b39;
                }
            }
            &.dk_linkedin {
                color: #007bb5;
                &:hover {
                    color: #fff;
                    background-color: #007bb5;
                }
            }
            &.dk_instagram {
                color: #007bb6;
                &:hover {
                    color: #fff;
                    background-color: #007bb6;
                }
            }
        }
    }
}

.dk_footer_bottom {
    color: #fff;
    background-color: #000000;
    padding: 1em 0;
    .dk_copyright {
        text-align: left;
        p {
            margin-bottom: 0.5rem;
            font-size: 0.85em;
        }
    }
    .dk_bbb {
        text-align: right;
    }
    a {
        color: $dkOrange;
    }
    a.dk_phone {
        color: #fff;
    }
}

/*******************************************************************************
* 18. Media Queries
*******************************************************************************/
@media screen and (max-width: 1410px) {
    .dk_header .dk_header_right {
        padding-right: 1em;
    }
    .dk_header img {
        margin-left: 1em;
    }

}
@media screen and (max-width: 1300px) {
    .dk_home .dk_main_content {
        padding: 4.5rem 0;
    }
}

@media screen and (max-width: 1200px) {
    .reveal.dk_project_modal {
        width: 94%;
    }

    .dk_hero .dk_caption {
        h3 {
            font-size: 1.825rem;
        }
        h2 {
            font-size: 2.25rem;
        }
        a.dk_button {
            font-size: 1.125rem;
            padding: 0.5rem 2.5rem;
        }
    }

    .dk_company_logos {
        .dk_logo {
            width: 160px;
            height: 160px;
        }
    }

    .dk_footer_top {
        h2 {
            font-size: 1.5rem;
        }
    }


}

@media screen and (max-width: 1023px) {
    // Medium and down styles
    .dk_hide_medium_down {
        display: none;
    }
    .top-bar-right {
        display: none;
    }
    .dk_mobile_topbar {
        display: block;
    }
    .dk_desktop_topbar {
        display: none;
    }
    .dk_main_content aside, .dk_callout_box {

        h4 {
            margin-left: 13em;
            margin-right: 13em;
        }
    }
    .dk_call_to_action_btn {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .dk_homepage_showcase {
        margin-top: 2em;
    }
    .dk_team_member {
        margin-bottom: 2em;
    }
    .dk_callout_boxes {
        margin-top: 0;
        .dk_callout_box:last-child {
            margin-top: 4.5em;
        }
    }
    .dk_category_select {
        span {
            display: block;
            margin-right: 160px;
            margin-bottom: 10px;
        }
    }
    .dk_website {
        margin-bottom: 2.5em;
        h3 {
            top: 1.5em;
        }
        h5 {
            top: 3.125em;
        }
    }
    .dk_hero .dk_hero_caption {
        bottom: 2em;
        img {
            width: 110px;
        }
        p {
            font-size: 1.25em;
            width: 75%;
        }
    }
    .dk_hero.dk_homehero {
        height: 500px;

        .dk_caption {
            h2 {
                font-size: 2.25rem;
            }

            h3 {
                font-size: 1.625rem;
            }
        }
        .dk_shape {
            shape-outside: polygon(nonzero, 100% 0, 380px 0, 520px 100%, 100% 100%);
        }
    }
    .dk_about_page {
        .dk_eggshell {
            .dk_add_bot_pad {
                padding-bottom: 2rem;
            }
        }
        .dk_main_content {
            padding-bottom: 0;
        }
    }
    .dk_secondary .dk_main_content {
        padding: 2rem 0;
    }
    .dk_company_logos {
        padding-bottom: 1rem;

        .dk_logo {
            width: 100%;
            height: 180px;
            margin-bottom: 1rem;
        }
    }
    .dk_secondary_sidebar {
        padding-top: 4rem;
    }
    /* Our Work Page */
    .reveal.dk_project_modal {
        .dk_modal_top {
            width: 50%;
        }
        .dk_modal_bottom {
            width: 50%;
        }
    }
    /* End Our Work Page */
}

@media screen and (max-width: 929px) {
    .dk_homemain {
        .dk_button {
            margin-right: 1rem;
        }
        .dk_button + .dk_button {
            margin-left: 0;
            margin-top: 0.5rem;
        }
    }
    .dk_footer_top {
        h2 {
            text-align: center;
        }
        .dk_social {
            position: static;
            text-align: center;
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 855px) {
    .dk_website.dk_hide_small {
        display: none;
    }
    .dk_website_small.dk_hide_medium_up {
        display: block;
    }
    .dk_hero.dk_homehero {
        height: 400px;

        .dk_shape {
            shape-outside: polygon(nonzero, 100% 0, 300px 0, 410px 100%, 100% 100%);
        }
    }
    .dk_hero .dk_caption, .dk_hero.dk_homehero .dk_caption {
        h3 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 2rem;
        }
        a.dk_button {
            font-size: 1rem;
            padding: 0.5rem 2rem;
        }
    }
    .dk_homemain {
        .dk_screenshot_sliderdiv {
            position: relative;
            width: 90%;
            max-width: 500px;
            display: block;
            text-align: center;
            left: 0;
            margin: 2rem auto 0 auto;
        }
        .dk_homemain_right {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        .dk_homemain {
            .dk_button {
                margin-right: 0.5rem;
            }
            .dk_button + .dk_button {
                margin-top: 0.5rem;
            }
        }
    }
    .dk_home .dk_main_content {
        padding: 2rem 0;
    }
    .dk_testimonial_section {
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 800px) {
    .dk_header img {
        display: block;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }
    .dk_header .dk_header_right {
        position: static;
        text-align: center;
        .dk_uppers {
            margin-bottom: 0.75em;
        }
    }
    .dk_main_content aside, .dk_callout_box {
        h4 {
            margin-left: 9em;
            margin-right: 9em;
        }
    }
    .dk_main_content .dk_homepage_showcase h4 {
        margin-top: 0;
        width: 100%;
    }
    /* Our Work Page */
    .reveal.dk_project_modal {
        max-width: 600px;
        padding-bottom: 2rem;
        display: block;
        .dk_modal_top {
            width: 100%;
        }
        .dk_modal_bottom {
            width: 100%;
        }
    }
    /* End Our Work Page */
}

@media screen and #{breakpoint(small down)} {
    .dk_hero {
        &.dk_homehero {
            background-image: url('../img/business-web-design-sm.jpg');

            .dk_caption {
                width: 100%;
            }
            .dk_shape {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                z-index: 0;
            }
        }
    }
    .dk_hero .dk_caption {
        text-align: center;
        left: 0;
        z-index: 2;
        h3 {
            font-size: 1.125rem;
        }
        h2 {
            font-size: 1.75rem;
        }
        a.dk_button {
            display: inline-block;
            margin: 0 auto;
            font-size: 1rem;
            padding: 0.5rem 1.5rem;
        }
    }
    .dk_hide_small {
        display: none;
    }
    .dropdown.menu.vertical > li.opens-right .is-dropdown-submenu {
        left: 110px;
    }
    .dk_main_content aside, .dk_callout_box  {
        h4 {
            margin-left: 6em;
            margin-right: 6em;
        }
    }
    .dk_testimonial_section .dk_testimonial_full {
        padding: 0 0.625rem;
    }
    .dk_main_content .dk_homepage_showcase .dk_recent_works img {
        margin-bottom: 1em;
    }
    .dk_nonprofit {
        text-align: center;

        .dk_recipient {
            margin-top: 1.5rem;
        }
    }
    .dk_footer_bottom {
        .dk_copyright, .dk_bbb {
            margin-bottom: 1em;
            text-align: center;
        }
        .dk_copyright {
            .dk_phone {
                display: block;
            }
        }
    }
    .dk_footer_main {
        .columns {
            margin-bottom: 2.5em;
        }
        .columns:last-child {
            margin-bottom: 1em;
        }
    }

    .dk_service {
        text-align: left;
        margin-bottom: 1em;
    }
    .dk_section {
        .dk_add_bot_pad {
            margin-bottom: 1.5em;
        }
    }
    .dk_what_we_do {
        .dk_secondary_sidebar img {
            margin-top: 0;
        }
    }
    .reveal.dk_project_modal {
        width: 100%;
        .dk_modal_top {
            width: 100%;
            img {
                padding: 0 1em;
            }
        }
        .dk_modal_bottom {
            width: 100%;
        }
    }
    .dk_category_select {
        text-align: left;
        margin-top: 1em;
        span {
            display: none;
        }
    }
    .dk_hero_caption {
        display: none;
    }
    .dk_reviews .dk_secondary_sidebar, .dk_contact .dk_secondary_sidebar {
        text-align: left;
    }
    .dk_secondary_sidebar {
        padding-top: 2rem;
    }
    .dk_select_box {
        label, select {
            display: block;
        }
        select {
            width: 100%;
        }
    }
    .dk_team_main {
        margin-top: 1rem;
    }
    .dk_team_member {
        a {
            pointer-events: none;
        }
    }
    .dk_review_body {
        i {
            width: 7%;
            font-size: 1.5rem;
        }
        div {
            width: 93%;
        }
    }
    .dk_servicelists {
        .row div:first-child {
            margin-bottom: 2.5rem;
        }
    }
    .dk_services {
        .dk_service {
            .dk_left {
                width: 100%;
                padding-right: 0;
                img {
                    margin-bottom: 1rem;
                }
            }
            .dk_right {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 525px) {
    .dk_hero .dk_caption {
        text-align: center;
        left: 0;
        h3 {
            font-size: 1.125rem;
        }
        h2 {
            font-size: 1.25rem;
        }
        a.dk_button {
            display: inline-block;
            margin: 0 auto;
            font-size: 1rem;
            padding: 0.5rem 1.5rem;
        }
    }
    .dk_main_content aside, .dk_callout_box {
        h4 {
            margin-left: 3em;
            margin-right: 3em;
        }
    }
}
